@model SendForumMessageModel

<td width="200">
    <p>@ViewBag.CurrentLogin</p><br />
    <img class="user-avatar" src="~/images/default-avatar.png" height="90" width="90" /><br />
</td>
<td id="send_msg">
    <form id="send_msg_form" action="javascript:void(0);" onsubmit="sendMessage()">
        <div style="width: 97%">
            <div asp-validation-summary="ModelOnly"></div>
            <textarea asp-for="Text" class="validate-input" placeholder="@SharedLocalizer["Enter message"]..." rows="5"/>
            <span asp-validation-for="Text" />
            <button type="submit" class="button sky-btn" style="margin-top:10px;">@SharedLocalizer["Send"]</button>
        </div>
    </form>
</td>