.form-group input {
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.75rem;
}

    .form-group input:placeholder-shown + label {
        opacity: 0;
        transform: translateY(1rem);
    }

.form-group {
    margin-top: 10px;
    position: relative;
    padding-top: 1.5rem;
}

    .form-group label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.95rem;
        opacity: 1;
        transform: translateY(0);
        transition: all 0.2s ease-out;
    }

.beaty-input {
    border: 1px solid gray;
    padding: 10px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
    min-width: 200px;
}

    .beaty-input:valid {
        border: 1px solid #03db76;
        box-shadow: 0px 0px 5px #03db766f, inset 0px 0px 5px rgba(0,0,0,0.1);
        background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    .beaty-input:invalid {
        border: 1px solid #ff5454;
        box-shadow: 0px 0px 5px #ff54546f, inset 0px 0px 5px rgba(0,0,0,0.1);
        background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

.beaty-button {
    padding: 10px 20px;
    border: 1px solid #52bae3;
    background-color: #52bae3;
    box-shadow: 0px 0px 5px #52bae36f;
    transition-property: background-color;
    transition-duration: 0.2s;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

    .beaty-button:hover {
        background-color: #4faed4;
    }
