.bg {
    background-image: url("../images/pipes.png");
}

.mt-10 {
    margin-top: 10px;
}
.ml-10 {
    margin-left: 10px;
}

.p-10 {
    padding: 10px;
}

.clear {
    padding:0;
    margin:0;
}

.ml--60 {
    margin-left: -60px;
}

.mt--10 {
    margin-top: -10px;
}

.mt-30 {
    margin-top: 30px;
}

.mini-menu {
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: right;
}

.el-menu {
    display: inline-block;
    font-weight: 300;
    font-size: 9pt;
    color: white;
}

    .el-menu a:hover {
        background-color: #DFDFE1;
        color: white;
    }

    .el-menu a {
        color: black;
        background-color: #ECF0F3;
        text-decoration: none;
        padding: 3px 5px;
        margin: 0px;
    }

.field-validation-error {
    color: #b94a48;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

.validation-summary-errors {
    color: #b94a48;
}

.menu-button {
    background-color: black;
}

.admin {
    font-size: 9pt;
    padding: 0px;
    margin: 0px;
    color:red;
}

.user {
    font-size: 9pt;
    padding: 0px;
    margin: 0px;
    color: gray;
}

