@{
    ViewData["title"] = Localizer["Title"];
}

<div id="partitions_container">
</div>

@section PageScripts {
    <script src="~/js/jquery.tmpl.js" type="text/javascript"></script>
    <script id="partTmpl" type="text/x-jquery-tmpl">
        <section class="window">
            <div class="section-header">${name}</div>
            <div class="section-body">
                {%each(id, cat) categories%}
                <div class=" div-line">
                    <div class="fl-l line-icon">
                        <img src="/images/category.png" height="30" width="30" />
                    </div>
                    <div class="line-titles">
                        <a href="/Home/Category/${cat.id}">${cat.name}</a><br />
                        <span class="category-description">${cat.description}</span>
                    </div>
                    <div class="fl-r line-properties">
                        <small>@SharedLocalizer["Topics"]: ${cat.topicCount}</small>
                    </div>
                </div>
                {%/each%}
            </div>
        </section>
    </script>
    <script src="~/js/forum_partitions.js" type="text/javascript"></script>
}
