@model IEnumerable<Partition>;
@{ 
    ViewData["title"] = Localizer["Title"];
}

@foreach (Partition part in Model)
{
    <div class="mt-30 shadow">
        <div class="p-10 mt-10 bg-light border-bottom">@part.Name</div>
        @await Component.InvokeAsync("CategoryList", new { partitionId = part.Id })
    </div>
}
